@use "@/styles/color";

.forecast {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4.5rem;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 1s cubic-bezier(0.25, 0.74, 0.22, 0.99),
      transform 1s cubic-bezier(0.25, 0.74, 0.22, 0.99);

    &.element-show {
      opacity: 1;
      transform: none;
    }
  }
  &__title {
    font-size: 4rem;
    line-height: 5rem;
    font-weight: 600;
  }
  &__btns {
    display: flex;
    gap: 1.5rem;
  }
  &__left-btn {
    transform: scale(-1, 1);
  }
  &__left-btn,
  &__right-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: color.$background;
    width: 4.5rem;
    height: 4.5rem;
    border: 1px color.$text-muted2 solid;
    border-radius: 50%;
    transition: color 0.3s ease, border 0.3s ease;
    &:not(.swiper-button-disabled) {
      color: black;
    }
    &:hover:not(.swiper-button-disabled) {
      border-color: black;
      color: color.$primary;
    }
  }
  &__cards {
    // margin-left: -29.5rem;
    // margin-right: 29.5rem;
  }
  &__card {
    width: 26.75rem;
    height: 19.5rem;
    position: relative;
    opacity: 0;
    transform: translateY(100%) !important;
    transition: opacity 1s cubic-bezier(0.25, 0.74, 0.22, 0.99),
      transform 1s cubic-bezier(0.25, 0.74, 0.22, 0.99);

    &.element-show {
      opacity: 1;
      transform: none !important;
    }
  }
  &__tag {
    color: color.$text-secondary;
    font-weight: 500;
  }
  &__line {
    width: 100%;
    height: 0.25rem;
    background-color: color.$primary;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
  }
  &__desc {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2.25rem;
    // margin-bottom: 4rem;
    &:hover {
      color: color.$hover;
      cursor: pointer;
    }
  }
  &__date {
    position: absolute;
    bottom: 0;
  }
}

@media (max-width: 36rem) {
  .forecast__cards {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
  .forecast__title {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
  .forecast__btns {
    display: none;
  }
  .forecast__line {
    width: 100%; //16.375
    height: 0.125rem;
    background-color: #c7006b;
    margin-top: 0.75rem;
    margin-bottom: 1.25rem;
  }
  .forecast__desc {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .forecast__card {
    height: 13.25rem;
  }
}
