@use "@/styles/color";

.strategies {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  &__title {
    font-size: 4rem;
    width: 56.75rem;
    font-weight: 600;
    line-height: 5rem;
    span {
      // color: red;
      position: relative;
      z-index: 0;
    }
  }
  &__line {
    position: absolute;
    bottom: 0rem;
    left: 0.2rem;
    height: 2rem;
    width: 26.375rem;
    background-color: color.$tertiary;
    z-index: -1;
  }
  &__cards {
    display: flex;
    gap: 1.25rem;
  }
  &__btn {
    position: absolute;
    bottom: -4.5rem;
    left: 2.5rem;
    width: 4.5rem;
    height: 4.5rem;
    background: no-repeat url(@/assests/main/question/arrow.svg) center center;
    background-color: color.$primary;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      transition: background-color 0.5s ease !important;
      background-color: #9f0056;
    }
  }
  &__card {
    // outline: 1px black solid;
    background-color: color.$surface;
    color: color.$text-surface;
    position: relative;
    max-width: 27.75rem;
    width: 100%;
    min-width: 18.375rem;
    height: 44.875rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.25rem;
    line-height: 2rem;
    font-weight: 500;
    overflow: hidden;
    // transition: all 0.5s ease;
    // &::before {
    //   content: "";
    //   position: absolute;
    //   bottom: -4.5rem;
    //   left: 2.5rem;
    //   width: 4.5rem;
    //   height: 4.5rem;
    //   background: no-repeat url(@/assests/main/question/arrow.svg) center center;
    //   background-color: color.$primary;
    //   border-radius: 50%;
    //   cursor: pointer;
    // }

    &:hover .strategies__btn {
      transition: bottom 0.5s cubic-bezier(0.25, 0.74, 0.22, 0.99);
      bottom: 2.5rem;
    }
    &:hover .strategies__image {
      transition: margin 0.8s cubic-bezier(0.25, 0.74, 0.22, 0.99);
      margin-bottom: -6rem;
      // margin-top: 6rem;
    }
    &:hover .strategies__desc {
      // transition: height 5s ease;
      // transition-delay: 2s;
      // height: 100%;
      transition: opacity 2s cubic-bezier(0.25, 0.74, 0.22, 0.99);
      opacity: 1;
      visibility: visible;
    }
  }

  &__name {
    // max-width: 22.75rem;
    padding: 0 2.5rem;
    padding-top: 3rem;
  }
  &__desc {
    padding-top: 1rem;
    padding: 0 2.5rem;
    font-weight: 300;
    color: color.$text-muted;
    // height: 1px;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    line-height: 1.5rem;
  }
  &__image {
    width: 100%;
    // outline: 1px red solid;
    // position: absolute;
    // bottom: 0;
    // right: 0;
  }
}
