@use "@/styles/color";
.strategies {
  display: flex;
  flex-direction: column;
  gap: 4rem;

  &__title {
    font-size: 4rem;
    max-width: 56.75rem;
    font-weight: 600;
    line-height: 5rem;
    span {
      display: inline-block;
      position: relative;
      z-index: 0;
    }
    opacity: 0;
    transition: opacity 1s ease;
    &.element-show {
      opacity: 1;
    }
  }

  &__desc {
    // padding-top: 1rem;
    padding: 0 2.5rem;
    font-weight: 300;
    color: color.$text-muted;
    opacity: 0;
    overflow: hidden;
    line-height: 1.5rem;
    transition: padding 1s cubic-bezier(0.25, 0.74, 0.22, 0.99),
      opacity 1s cubic-bezier(0.25, 0.74, 0.22, 0.99);
  }

  &__line {
    position: absolute;
    bottom: 0rem;
    left: 0.2rem;
    height: 2rem;
    width: 26.375rem;
    background-color: color.$tertiary;
    z-index: -1;
    opacity: 0;
    transition: transform 1s cubic-bezier(0.25, 0.74, 0.22, 0.99) 0.5s,
      opacity 0s ease 0.5s;
    transform: translateX(200%) translateY(200%);
    &.element-show {
      opacity: 1;
      transform: none;
    }
  }

  &__cards {
    display: flex;
    gap: 1.25rem;
    justify-content: center;
  }

  &__btn {
    position: absolute;
    bottom: -4.5rem;
    left: 2.5rem;
  }

  &__card {
    color: color.$text-surface;
    position: relative;
    max-width: 27.75rem;
    width: 100%;
    min-width: 20.25rem;
    height: 44.875rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.25rem;
    line-height: 2rem;
    font-weight: 500;
    overflow: hidden;
    transition: padding 0.8s cubic-bezier(0.25, 0.74, 0.22, 0.99),
      opacity 0.8s cubic-bezier(0.25, 0.74, 0.22, 0.99),
      transform 0.8s cubic-bezier(0.25, 0.74, 0.22, 0.99);
    opacity: 0;
    // transform: translateY(100%);
    transform: translateY(30%);

    &:nth-child(1) {
      background: color.$surface url(@/assests/main/strategies/1back.png)
        no-repeat left bottom;
    }

    &:nth-child(2) {
      background: color.$surface url(@/assests/main/strategies/2back.png)
        no-repeat left bottom;
    }
    &:nth-child(3) {
      background: color.$surface url(@/assests/main/strategies/3back.png)
        no-repeat left bottom;
    }
    &.element-show {
      opacity: 1;
      transform: none;
    }
    @media (pointer: coarse) {
      .strategies__btn {
        bottom: 2.5rem;
      }
      .strategies__desc {
        padding-top: 1rem;
        padding-bottom: 6.375rem;
        opacity: 1;
        // height: 8.5rem !important;
        visibility: visible;
      }
    }

    &:hover {
      .strategies__btn {
        bottom: 2.5rem;
      }
      .strategies__desc {
        padding-top: 1rem;
        padding-bottom: 6.375rem;
        opacity: 1;
        // height: 8.5rem !important;
        visibility: visible;
      }
    }
  }

  &__name {
    padding: 0 2.5rem;
    padding-top: 3rem;
  }

  &__image {
    object-fit: cover;
    transition: margin-bottom 0.8s cubic-bezier(0.25, 0.74, 0.22, 0.99);
  }
}
@media (max-width: 85.75rem) {
  .strategies__cards {
    flex-wrap: wrap;
  }
}

// Медиа-запросы для изменения ширины и высоты изображения при уменьшении экрана
@media (max-width: 59rem) {
  .strategies {
    &__title {
      font-size: 1.75rem;
      line-height: 2.625rem;
      padding-left: 1.125rem;
    }
    &__line {
      height: 1.0625rem;
      width: 11.6875rem;
    }
    // &__cards {
    //   flex-wrap: wrap;
    // }
    &__card {
      height: 27.1875rem;
      width: 20.25rem; // Ширина карточки уменьшается для маленьких экранов

      &:nth-child(1) {
        background: color.$surface url(@/assests/main/strategies/1backM.png)
          no-repeat left bottom;
      }

      &:nth-child(2) {
        background: color.$surface url(@/assests/main/strategies/2backM.png)
          no-repeat left bottom;
      }
      &:nth-child(3) {
        background: color.$surface url(@/assests/main/strategies/3backM.png)
          no-repeat left bottom;
      }
    }
  }
  .strategies__name {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
  .strategies__desc {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
  .strategies__btn {
    width: 3rem;
    height: 3rem;
    bottom: -3rem;
  }
  .strategies__image {
    height: 17.875rem;
    width: 100%;
    object-fit: contain;
    object-position: right;
  }
}

// @media (max-width: 40rem) {
//   .strategies__card {
//     width: 100%; // При еще меньших экранах карточки занимают всю ширину
//   }

//   .strategies__image {
//     width: 100%; // При уменьшении экрана изображение снова растягивается
//   }
// }
