@use "@/styles/color";

.header {
  &__top {
    // display: flex;
    display: grid;
    grid-template-columns:
      179px /* первый контейнер: фиксированный */
      minmax(0, 0.095fr) /* второй контейнер: 130px уменьшается */
      663px /* третий контейнер: фиксированный */
      1fr /* четвёртый контейнер: 598px уменьшается */
      256px; /* пятый контейнер: фиксированный */
    padding: 0 4.375rem;
    align-items: center;
    // justify-content: space-between;
  }
  &__logo {
    width: 179px;
    height: 56px;
    grid-column: 0 / 1;
    cursor: pointer;
  }
  &__navbar {
    grid-column: 3 / 4;
    padding: 1.3125rem 1.8125rem;
    display: flex;
    align-items: center;
    gap: 2.25rem;
    white-space: nowrap;
    &-link {
      font-weight: 500;
      font-size: 0.75rem;
      line-height: 0.875rem;
      text-transform: uppercase;
      padding: 0.75rem 0;
      padding-bottom: calc(0.75rem - 2px);
      border-bottom: 2px transparent solid;
      transition: border 0.5s ease;
      &:hover {
        border-bottom: 2px color.$primary solid;
      }
    }
  }
  &__menu {
    font-weight: 400;
    font-size: 1rem;
    grid-column: 5 / 6;
    display: flex;
    align-items: center;
  }
  &__search {
    margin-right: 2.25rem;
    cursor: pointer;

    &:hover * {
      transition: color 0.5s ease;
      color: color.$primary;
    }
  }
  &__profile {
    margin-right: 2.25rem;
    cursor: pointer;

    &:hover * {
      transition: color 0.5s ease;
      color: color.$primary;
    }
  }
  &__dropdown {
    display: flex;
    align-items: center;
    margin-right: 1.8125rem;
    cursor: pointer;
    gap: 3px;
  }
  &__flag {
    cursor: pointer;
  }
}
