@use "@/styles/color";

.question {
  display: flex;
  justify-content: center;
  font-size: 7.65vw;
  height: 2em;
  &__text {
    margin-top: 4rem; //УБРАТЬ
    color: color.$question;
    position: absolute;
    left: 0;
    width: 95vw;
    line-height: 1em;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 1%;
    text-wrap: nowrap;
    cursor: default;
    &::before {
      content: "";
      position: absolute;
      font-size: 1.8em;
      top: -14%;
      left: 63.2%;
      width: 0.28em;
      height: 0.28em;
      background: no-repeat url(@/assests/main/question/arrow.svg) center center;
      background-color: color.$primary;
      border-radius: 50%;
      cursor: pointer;
    }
  }
}
