// Основные цвета
$primary: #c7006b; // Основной цвет (например, для акцентов)
$secondary: #a58364; // Второстепенный цвет
$tertiary: #f5e7da; // Третичный цвет

// // Состояния
// $success: #2ecc71; // Для успешных действий
// $error: #e74c3c; // Для ошибок
// $warning: #f1c40f; // Для предупреждений
// $info: #3498db; // Для информационных блоков

// Фон
$background: #ffffff; // Основной фон
$surface: #fcf2e3; // Для карточек или модальных окон
$border: #f1e4d7;
// Текст
$text-primary: #333333; // Основной текст
$text-secondary: #828282; // Второстепенный текст
$text-surface: #574432; // Подсказки и неактивные элементы
