@use "@/styles/color";
@use "@/styles/fonts";

* {
  font-weight: 500;
  color: color.$text-primary;
  font-family: fonts.$Railway;
  font-weight: 400;
  background-color: color.$background;
  font-size: 1rem;
}
