@use "@/styles/color";
.wrapper {
  min-height: 100%;
  width: 100%;
  position: relative;
  background-color: color.$background;
  z-index: 1;
  overflow: hidden;
}
.container {
  max-width: 85.75rem;
  margin: 0 auto;
  height: 100%;
  background-color: transparent;
  // outline: black 1px solid;
}

.active {
  opacity: 1;
  visibility: visible;
  width: auto;
}

.hidden {
  opacity: 0;
  visibility: hidden;
  height: 0;
  width: 0;
  padding: 0;
  margin: 0;
}
