@use "@/styles/color";

.subscribe {
  background-color: color.$surface;
  width: 100%;
  height: 27.6875rem;
  padding-left: 3.6875rem;
  display: flex;
  background: url(@/assests/main/subscribe/leftBack.png) left bottom no-repeat,
    url(@/assests/main/subscribe/rightBack.png) right top no-repeat;
  background-color: color.$surface;

  opacity: 0;
  transform: translateY(100%) !important;
  transition: opacity 1s cubic-bezier(0.25, 0.74, 0.22, 0.99),
    transform 1s cubic-bezier(0.25, 0.74, 0.22, 0.99);

  &.element-show {
    opacity: 1;
    transform: none !important;
  }
  &__form {
    width: 100%;
    padding: 5.5rem 0;
    padding-left: 4.0625rem;
  }
  &__image {
    margin-top: -1.375rem;
  }
  &__title {
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 3.5rem;
    margin-bottom: 0.5rem;
  }
  &__desc {
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: color.$text-muted;
    margin-bottom: 2.75rem;
  }
  &__email {
    display: flex;
    justify-content: space-between;
    max-width: 42.25rem;
    width: 100%;
    letter-spacing: 10%;
  }

  .subscribe__input-container {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-size: 0.875rem;
    line-height: 1.5rem;
    max-width: 27.5rem;
    width: 100%;

    /* Изменение цвета текста при фокусе на input */
    &:hover .subscribe__input-label-text,
    &:focus-within .subscribe__input-label-text {
      color: color.$secondary;
    }
  }

  .subscribe__input {
    width: 100%;
    height: 1.5rem;
    background-color: transparent;
    border-bottom: 1px #000000 solid;
    transition: border-color 0.3s ease;
    &:hover,
    &:focus {
      border-color: color.$secondary;
    }
  }
  .subscribe__input-label-text {
    transition: color 0.3s ease;
    color: color.$text-muted;
  }
  &__sumbit {
    background-color: color.$primary;
    border-radius: 100px;
    height: 3rem;
    max-width: 9.25rem;
    width: 100%;
    color: white;
    font-size: 0.75rem;
    line-height: 1.125;
    font-weight: 600;
    transition: background-color 0.3s ease;
    &:hover {
      background-color: #9f004b;
    }
  }
  &__settings {
    display: flex;
    gap: 3.125rem;
    margin-bottom: 3.4375rem;
  }
  &__switch {
    display: flex;
    cursor: pointer;
    gap: 0.5rem;
  }
}
