@use "@/styles/color";

.header {
  background-color: #fbf2e3;

  &__inner {
    display: grid;
    grid-template-rows: calc(280 / 612 * 1fr) 368px calc(332 / 612 * 1fr);
    position: relative;
    max-width: 85.75rem;
    margin: 0 auto;
    position: relative;
    width: 100vw;
    height: 100vh;
  }

  &__bg--1,
  &__bg--2,
  &__bg--3,
  &__bg--4 {
    background-size: cover;
    background-position: 72% 50%;
    background-repeat: no-repeat;
    animation: bgSize 0.8s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
  }
  &__bg--1 {
    background-image: url(./assests/header/headerMain/back1.jpg);
  }
  &__bg--2 {
    background-image: url(./assests/header/headerMain/back2.jpg);
  }
  &__bg--3 {
    background-image: url(./assests/header/headerMain/back3.jpg);
  }
  &__bg--4 {
    background-image: url(./assests/header/headerMain/back4.jpg);
  }
  &__text {
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    height: 100%;
  }
  &__title {
    max-width: 49.5rem;
    display: none;
    &--active {
      display: inline;
    }
    &--hidden {
      display: none;
    }

    & i {
      font-style: normal;
      font-size: 4rem;
      font-weight: 600;
      line-height: 5rem;
      opacity: 0;
      filter: blur(3px);
    }
  }
  &__sub-title {
    margin-top: 3.5rem;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    display: none;
    position: relative;
    // opacity: 0;
    // padding: 0;
    // margin: 0;
    // visibility: hidden;
    // transition: opacity 2s ease, visibility 0s; /* Плавный переход opacity, задержка для visibility */
    animation-name: appearance;
    animation-duration: 1s;
    &--active {
      display: inline;
      // opacity: 1; /* Когда элемент становится видимым */
      // visibility: visible; /* Делаем элемент видимым */
      // transition: opacity 2s ease, visibility 0s; /* Плавный переход, без задержки для visibility */
    }
  }

  &__sub-title span {
    font-size: 3rem;
    line-height: 2.5rem;
    color: color.$primary;
  }
  &__pagination {
    margin-bottom: 3.4375rem;
    position: absolute;
    bottom: 0rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    line-height: 2rem;
    font-weight: 400;
    // padding: 0 2.5rem;
    &-page {
      display: inline-block;
      border-radius: 50%;
      padding: 1.125rem;
      margin-right: -0.4rem;
      cursor: pointer;
      &:last-child {
        margin-right: 0;
      }
      & div {
        border-radius: 50%;
        width: 0.5rem;
        height: 0.5rem;
        background-color: color.$secondary;
      }
      &:hover {
        box-shadow: inset 0px 0px 0px 1px color.$secondary;
      }
      &--active {
        box-shadow: inset 0px 0px 0px 1px color.$secondary;
      }
    }

    & i {
      color: color.$primary;
      font-size: 1.125rem;
    }
    &-current {
      font-size: 3rem;
      margin-right: 0.1rem;
    }

    &-total {
      font-size: 1.125rem;
      margin-right: 0.1rem;
    }
  }
}

@keyframes fade-in {
  to {
    opacity: 1;
    filter: blur(0);
  }
}

@keyframes scale {
  to {
    transform: scale(1);
  }
}

@for $i from 1 through 50 {
  .header__title {
    i:nth-child(#{$i}) {
      animation: fade-in
        0.3s
        /* Быстрая анимация 0.3 секунды */
        #{($i * 0.03)}s
        /* Увеличиваем задержку анимации для каждого i */
        forwards
        cubic-bezier(0.11, 0, 0.5, 0);
    }
  }
}

// .header__bg.active {
//   opacity: 1;
//   visibility: visible;
//   animation: scale-bg 2s forwards; /* Анимация масштабирования */
// }

// @keyframes scale-bg {
//   0% {
//     background-size: 120%; /* Начальный размер фона (увеличенный) */
//     opacity: 0; /* Прозрачность на старте */
//   }
//   50% {
//     background-size: 130%; /* Увеличиваем размер фона */
//     opacity: 0.5; /* Прозрачность на середине */
//   }
//   100% {
//     background-size: 100%; /* Финальный размер фона (нормальный) */
//     opacity: 1; /* Полная непрозрачность */
//   }
// }
// @keyframes scale-bg {
//   0% {
//     // transform: scale(1.2); /* Начальное увеличение */
//     opacity: 0; /* Прозрачность на старте */
//   }
//   50% {
//     // transform: scale(1.2); /* Сохраняем увеличенный размер */
//     opacity: 0.5; /* Полупрозрачный фон */
//   }
//   100% {
//     // transform: scale(1); /* Возвращаем фон к нормальному размеру */
//     opacity: 1; /* Полная непрозрачность */
//   }
// }

// .header__bg {
//   animation: scale-bg 0.8s ease; /* Добавляем анимацию */
//   // background-size: cover; /* Используем cover */
//   // background-position: center center; /* Центрируем фон */
// }

@keyframes appearance {
  0% {
    opacity: 0;
    margin-left: -100%;
    margin-right: 100%;
  }
  100% {
    opacity: 1;
    margin-left: 0;
    margin-right: 0;
  }
}

@keyframes bgSize {
  0% {
    transform: scale(0.8);
    // background-size: 200%;
  }
  // 50% {
  //   transform: scale(1.2);
  //   // background-size: 150%;
  // }
  100% {
    transform: scale(1);
    // background-size: cover;
  }
}

@media (max-width: 77.375rem) {
  .header {
    &__bg--1,
    &__bg--2,
    &__bg--3,
    &__bg--4 {
      top: 40%; /* ПОМЕНЯТЬ */
      height: 60%; /* ПОМЕНЯТЬ */
    }

    &__inner {
      display: flex;
      flex-direction: column;
      padding: 0 1.125rem;
      padding-top: 6.5rem;
    }
  }
}
