@use "@/styles/color";

.contacts {
  cursor: auto;
  width: 100%;
  &__tel,
  &__email {
    span {
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }
  &__tel {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    &:nth-child(2) {
      padding-bottom: 0.8125rem;
    }
    a {
      font-size: 1.5rem;
      line-height: 2rem;
      font-weight: 600;
    }
    span {
      color: color.$text-secondary;
    }
  }

  &__email {
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 500;
    color: #000000;
  }

  &__btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    // position: absolute;
    // bottom: 0;
    margin-top: 1.9375rem;
    width: 14.25rem;
    height: 3rem;
    background-color: color.$background;
    border-radius: 100px;
    border: 1px color.$primary solid;
    font-size: 0.75rem;
    line-height: 1.125rem;
    font-weight: 600;

    background-image: linear-gradient(transparent 50%, color.$primary 50%);
    background-size: 200% 200%;
    transition: 0.2s;
    &:hover {
      color: color.$background;
      background-position: 0 100%;
    }
  }

  &__link {
    transition: color 0.3s ease;
    &:hover {
      color: color.$primary;
    }
  }
}
